Package: pyuv
Version: 0.6.1-1
Section: science
Priority: optional
Architecture: i386
Depends: libwxgtk3.0-0 (>= 3.0.0), libgcc1 (>= 4.8.2), libc6 (>= 2.19-0)
Maintainer: Yufei Yuan <yyuan@gmx.com>
Homepage: https://github.com/tufei/pyuv-player
Description: Raw sequence player
 Pyuv is a program that may be used to view raw uncompressed sequence
 written as an headerless bunch of bytes on a single file.
