[Desktop Entry]
Name=Pyuv
Comment=Raw sequence player
Exec=pyuv
Icon=pyuv
Terminal=false
Type=Application
Categories=Education;Science;Engineering;Math;
Encoding=UTF-8

